action_plugins/*
collections/*
group_vars/*
host_vars/*
roles/*
!roles/haproxy
!roles/hardening
!roles/mailcow
!roles/nfs
!roles/wireguard
vars/*
inventory*.yml
!inventory-example.yml
playbook*.yml
!playbook-example.yml